services:

  odoo:
    image: {{ odoo_image | default("odoo") }}:{{ odoo_version }}
    container_name: odoo_{{ subdomain }}
    restart: always
    ports:
      - "{{ host_ip | default('127.0.0.1') }}:{{ xmlrpc_port }}:8069"
      - "{{ host_ip | default('127.0.0.1') }}:{{ longpolling_port }}:8072"
    volumes:
      - ./data/odoo:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons
{%- for repo in repos | default([]) %}
      - {{ repo.host_path }}:/mnt/repos/{{ repo.dir_name }}
{%- endfor %}
{%- for vrepo in version_repos | default([]) %}
      - {{ vrepo.host_path }}:/mnt/version-repos/{{ vrepo.dir_name }}
{%- endfor %}
    networks:
      - {{ network_name | default("net") }}
{%- if cpu_limit or ram_limit %}
    deploy:
      resources:
        limits:
{%- if cpu_limit %}
          cpus: "{{ cpu_limit }}"
{%- endif %}
{%- if ram_limit %}
          memory: {{ ram_limit }}
{%- endif %}
{%- endif %}


networks:
  {{ network_name | default("net") }}:
    driver: bridge
