upstream {{ subdomain }} {
    server 127.0.0.1:{{ http_port }};
}

upstream {{ subdomainchat }} {
    server 127.0.0.1:{{ longpolling_port }};
}

server {
    listen [::]:80;
    listen 80;

    server_name {{ domain }};
    return 301 https://$host$request_uri;
}

server {
    listen [::]:443 ssl http2;
    listen 443 ssl http2;

    server_name {{ domain }};

    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    # log
    access_log /var/log/nginx/{{ subdomain }}-access.log;
    error_log /var/log/nginx/{{ subdomain }}-error.log;

    large_client_header_buffers 4 64k;
    client_max_body_size 200M;
    http2_max_field_size 64k;
    http2_max_header_size 64k;
    proxy_read_timeout 720s;
    proxy_connect_timeout 720s;
    proxy_send_timeout 720s;
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $remote_addr;

    location / {
        proxy_redirect off;
        proxy_pass http://{{ subdomain }};
    }

    location /longpolling {
        proxy_pass http://{{ subdomainchat }};
    }

    location ~* /web/static/ {
        proxy_cache_valid 200 90m;
        proxy_buffering on;
        expires 864000;
        proxy_pass http://{{ subdomain }};
    }

    gzip_types text/css text/less text/plain text/xml application/xml application/json application/javascript;
    gzip on;
}