[options]
admin_passwd = {{ master_pass }}

db_host = {{ db_host }}
db_port = {{ db_port }}
db_user = {{ db_user }}
db_password = {{ db_password }}

addons_path = /mnt/extra-addons

proxy_mode = {{ proxy_mode | default(True) }}

workers = 2

# Optional extra config for each client
{% if extra_config %}
{% for k,v in extra_config.items() %}
{{ k }} = {{ v }}
{% endfor %}
{% endif %}